@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center;  */
  /* height:50rem;  */
  margin: 0;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
}

.game-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.game-status {
  /* font-size: 1.5rem; */
  /* margin: 10px 0; */
  color: #a3e635;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
}

h1 {
  /* font-size: 2.5rem; */
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.controls {
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.controls label {
  font-size: 1.2rem;
}

.controls input {
  width: 60px;
  padding: 5px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: #222;
  color: #fff;
  text-align: center;
}

.controls button {
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.controls button:hover {
  background-color: #2563eb;
  transform: scale(1.05);
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 45px);
  grid-template-rows: repeat(10, 45px);
  gap: 3px;
  margin-top: 20px;
}

.cell {
  width: 45px;
  height: 45px;
  background-color: #67e8f9;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.cell:hover {
  background-color: #444;
  transform: scale(1.05);
}

.cell.revealed {
  background-color: #f0f0f0;
  color: #333;
  cursor: default;
  transform: none;
}

.cell.mine {
  background-color: #e74c3c;
  color: #fff;
  font-size: 1.4rem;
  animation: shake 0.3s ease-in-out;
}

.cell.flag {
  background-color: #f1c40f;
  color: #222;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
